<app-menu></app-menu>
<ion-content fullscreen>

  <ion-card routerLink="/rutina">
    <img src="assets/imagenParaTodo.png" />
    <ion-card-title>Rutina</ion-card-title>
    <ion-card-subtitle>Destination</ion-card-subtitle>
  </ion-card>

  <ion-card routerLink="/historial">
    <img src="assets/imagenParaTodo.png" />
    <ion-card-title>Historial</ion-card-title>
    <ion-card-subtitle>Destination</ion-card-subtitle>
  </ion-card>

  <ion-card routerLink="/progreso">
    <img src="assets/imagenParaTodo.png" />
    <ion-card-title>Progreso</ion-card-title>
    <ion-card-subtitle>Destination</ion-card-subtitle>
  </ion-card>

</ion-content>